.form-element {
  position: relative;
}
.input {
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  padding: 20px 24px 10px 24px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #444;
  color: #ffffff;
}
.input::placeholder {
  visibility: visible;
}
.floating-label {
  user-select: none;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 25%;
  left: 20px;
  font-size: 20px;
  cursor: text;
  color: #8c8c8c;
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease,
    -webkit-transform 0.1s ease, -moz-transform 0.1s ease,
    -o-transform 0.1s ease;
}

.input:focus ~ .floating-label,
.input:valid ~ .floating-label 
{
  font-size: 11px;
  top: 5px;
}